<div id="info-container">
    <ul>
        <li>
            Username: {{username}}
        </li>

        <li>
            First Name: {{firstName}}
        </li>
            
        <li>
            Last Name: {{lastName}}
        </li>
            
        <li>
            Profession: {{profession}}
        </li>

        <li>
            Biography: {{bio}}
        </li>
    </ul>

    <div>
        <a href="/logout">Logout</a>
    </div>
</div>